/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

span{
  font-weight: bold;
}

button{
  padding: 20px 40px;
  color: #fff;
  background-color: #ffae29;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

/* regole app */

/* regole header */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh;
  background-image: url('../img/1-1.jpg');
  background-size: cover;
  color: #fff;
}

/* regole navbar */
header nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 0 15%;
  height: 80px;
  width: 100%;
  /* background-color: red; */
}

header nav a{
  color: #fff;
}

/* regole parte sinistra */
nav .left-content{
  display: flex;
  align-items: center;
  /* background-color: yellow; */
  height: 100%;
}

nav .left-content img{
  height: 80%;
}

/* regole parte destra */
nav .right-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: green;
  min-width: 200px; */
  height: 100%;
}

nav .right-content .links a{
  padding: 10px;
  /* background-color: lightblue;
  border: 1px solid #000; */
}

nav .right-content .links i{
  margin-left: 10px;
}

nav .right-content .login{
  margin-left: 100px;
}

nav .right-content .login i{
  margin-left: 20px;
}

/* regole header content */
header .header-content{
  text-align: center;
}

header .header-content p{
  margin: 30px 0;
}

/* regole mani */
main{
  background-color: #cecece;
  padding: 0 15%;
}

section{
  padding: 80px 0;
  border: 1px solid black;
}

/* regole first section */
main .first-section{
  text-align: center;
}

main .first-section .central-content{
  display: flex;
}

main .first-section .central-content > div{
  width: calc(100% / 4);
}

/* regole second section */
main .second-section{
  text-align: center;
}

main .second-section img{
  width: 90%;
}

main .second-section .bottom-content{
  display: flex;
}

main .second-section .bottom-content > div{
  width: calc(100% / 3);
}

main .second-section .bottom-content > div:first-of-type{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

/* regole third section */
main .third-section{
  text-align: center;
}

main .third-section img{
  width: 100%;
}

main .third-section .central-content{
  display: flex;
  flex-wrap: wrap;
}

main .third-section .central-content > .photo{
  position: relative;
  width: calc(100% / 3);
}

main .third-section .central-content > .photo img{
  filter: brightness(60%);
}

main .third-section .central-content > .photo .text-area{
  position: absolute;
  z-index: 900;
  bottom: 0;
  color: #fff;
  text-align: left;
}

/* regole fourth sectione */
main .fourth-section{
  text-align: center;
}

main .fourth-section .bottom-content{
  display: flex;
}

main .fourth-section .bottom-content > div{
  width: calc(100% / 4);
}

/* regole fifth section */
main .fifth-section{
  text-align: center;
}

main .fifth-section img{
  height: 80px;
  border-radius: 50%;
}

main .fifth-section .bottom-content{
  display: flex;
}

main .fifth-section .bottom-content > div{
  width: calc(100% / 3);
}

/* regole sixth section */
main .sixth-section{
  text-align: center;
}

/* regole footer */
footer{
  display: flex;
  padding: 20px 15% 80px 15%;
  background-color: blue;
  /* min-height: 300px; */
}

footer > div{
  width: calc(100% / 4);
  background-color: yellow;
  border: 1px solid black;
}

footer a{
  display: block;
}

/* regole contenitore logo */
footer .logo-content img{
  height: 50px;
}

/* regole contenitore about company */

/* regole contenitore top courses */

/* regole contenitore populare categories */
