/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none;
}

span{
  font-weight: bold;
}

button{
  padding: 20px 40px;
  color: #fff;
  background-color: #ffae29;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

button:hover{
  cursor: pointer;
}

/* regole header */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh;
  background-image: url('../img/1-1.jpg');
  background-size: cover;
  color: #fff;
}

/* regole navbar */
header nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 0 15%;
  height: 80px;
  width: 100%;
}

header nav a{
  color: #fff;
}

/* regole parte sinistra */
nav .left-content{
  display: flex;
  align-items: center;
  height: 100%;
}

nav .left-content img{
  height: 80%;
}

/* regole parte destra */
nav .right-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav .right-content .links a{
  padding: 10px;
}

nav .right-content .links i{
  margin-left: 10px;
}

nav .right-content .login{
  margin-left: 100px;
}

nav .right-content .login i{
  margin-left: 20px;
}

/* regole header content */
header .header-content{
  text-align: center;
}

header .header-content p{
  margin: 30px 0;
}

/* regole mani */
main{
  background-color: #cecece;
}

section{
  padding: 80px 15%;
}

/* regole first section */
main .first-section{
  text-align: center;
  background-color: #fff;
}

main .first-section .top-content h2{
  font-weight: normal;
}

main .first-section .top-content p{
  margin: 30px 0 50px 0;
}

main .first-section .central-content{
  display: flex;
}

main .first-section .central-content > div{
  width: calc(100% / 4);
}

main .first-section .central-content > div p{
  margin: 30px 0 60px 0;
}

/* regole second section */
main .second-section{
  text-align: center;
  color: #fff;
  background-color: #313c59;
}

main .second-section span{
  font-weight: normal;
  color: #fff;
}

main .second-section img{
  width: 80%;
  padding: 40px 10px;
  background-color: #20283b;
  border-radius: 30px;
}

main .second-section .top-content p{
  margin: 20px 0 60px 0;
  color: #9c9c9c;
}

main .second-section .bottom-content{
  display: flex;
}

main .second-section .bottom-content > div{
  width: calc(100% / 3);
}

main .second-section .bottom-content > div p{
  margin: 20px 0 30px 0;
  color: #9c9c9c;
}

main .second-section .bottom-content > div h3{
  margin-bottom: 20px;
}

main .second-section .bottom-content > div:first-of-type{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

/* regole third section */
main .third-section{
  text-align: center;
  background-color: #fff;
}

main .third-section img{
  width: 100%;
}

main .third-section .top-content h2{
  font-weight: normal;
}

main .third-section .top-content p{
  margin: 30px 0 60px 0;
}

main .third-section .central-content{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

main .third-section .central-content > .photo{
  position: relative;
  width: calc(100% / 3);
  padding: 10px;
}

main .third-section .central-content > .photo img{
  filter: brightness(60%);
  border-radius: 10px;
}

main .third-section .central-content > .photo .text-area{
  position: absolute;
  z-index: 900;
  bottom: 30px;
  left: 30px;
  color: #fff;
  text-align: left;
}

main .third-section .central-content > .photo .text-area h2{
  padding-left: 3px;
  border-left: 4px solid #ffae29;
}

main .third-section .central-content > .photo .text-area h3{
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 7px;
}

/* regole fourth sectione */
main .fourth-section{
  text-align: center;
  background-color: #fafafa;
}

main .fourth-section .top-content h2{
  font-weight: normal;
}

main .fourth-section .top-content p{
  margin: 30px 0 60px 0;
}

main .fourth-section .bottom-content{
  display: flex;
}

main .fourth-section .bottom-content > div{
  width: calc(100% / 4);
}

/* regole fifth section */
main .fifth-section{
  text-align: center;
  background-color: #fff;
}

main .fifth-section img{
  height: 80px;
  border-radius: 50%;
}

main .fifth-section .top-content h2{
  font-weight: normal;
}

main .fifth-section .top-content p{
  margin: 30px 0 60px 0;
}

main .fifth-section .bottom-content{
  display: flex;
}

main .fifth-section .bottom-content > div{
  width: calc(100% / 3);
}

main .fifth-section .bottom-content > div p{
  margin: 10px 0;
}

main .fifth-section .bottom-content > div .text{
  margin-top: 10px;
}

/* regole sixth section */
main .sixth-section{
  text-align: center;
  color: #fff;
  background-color: #ffae29;
}

main .sixth-section h2{
  font-weight: normal;
}

main .sixth-section p{
  margin: 20px 0 20px 0;
}

main .sixth-section button{
  text-align: center;
  color: #000;
  background-color: #fff;
}

/* regole footer */
footer{
  display: flex;
  padding: 30px 15% 80px 15%;
  color: #9c9c9c;
  background-color: #232b40;
}

footer > div{
  width: calc(100% / 4);
}

footer h3{
  font-size: 0.9rem;
}

footer a{
  display: block;
  color: #9c9c9c;
}

/* regole contenitore logo */
footer .logo-content img{
  height: 50px;
}
