<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="utf-8">
    <title>Esercizio Wpmls</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet"> 
  </head>
  <body>

    <!-- contenitore app -->
    <div id="app">

      <!-- jumbotron -->
      <header>

        <!-- navbar -->
        <nav>

          <!-- parte sinistra -->
          <div class="left-content">

            <!-- logo -->
            <img src="img/logo.png" alt="">

          </div>

          <!-- parte destra -->
          <div class="right-content">

            <!-- link della navbar -->
            <div class="links">

              <a href="#" v-for="link in linkHeader">
                {{link}}
              </a>

              <i class="fas fa-search"></i>

            </div>

            <div class="login">

              <a href="#">
                LOGIN
              </a>

              <i class="fas fa-shopping-cart"></i>

            </div>

          </div>

        </nav>

        <!-- contenuto header -->
        <div class="header-content">

          <h1>
            One App for eLearning - Web or Mobile
          </h1>

          <p>
            WPLMS is the most modern Learning management system for Web.
          </p>

          <button type="button" name="button">
            GET YOUR APP
          </button>

        </div>

      </header>

      <!-- main -->
      <main>

        <!-- prima sezione -->
        <section class="first-section">

          <!-- contenuto superiore -->
          <div class="top-content">

            <h2>
              Get <span>Free App</span> for your Educatin &#38; LMS Site.
            </h2>

            <p>
              Huge saving of <span>Time and Money.</span> The WPLMS PWA plays equally good on <br>
              <span>Mobile, Desktop, Tablets, and TV's.</span>
            </p>

          </div>

          <!-- contenuto centrale -->
          <div class="central-content">

            <!-- colonna -->
            <div>

              <img src="img/screenshot1.png" alt="">

              <h4>
                Administrator App
              </h4>

              <p>
                Manage the entire site, the students,<br>
                the instructors and the store.
              </p>

            </div>

            <!-- colonna -->
            <div>

              <img src="img/screenshot2.png" alt="">

              <h4>
                Instructor App
              </h4>

              <p>
                Create courses, manage students, import<br>
                questions and get reports.
              </p>

            </div>

            <!-- colonna -->
            <div>

              <img src="img/screenshot3.png" alt="">

              <h4>
                Student App
              </h4>

              <p>
                Easy access to enrolled courses. Pursue<br>
                course, join meeting in TV.
              </p>

            </div>

            <!-- colonna -->
            <div>

              <img src="img/screenshot4.png" alt="">

              <h4>
                Custom Features
              </h4>

              <p>
                All Wplms modules in the App.<br>
                Conferencing, Calendars.
              </p>

            </div>

          </div>

          <!-- contenuto inferiore -->
          <div class="bottom-content">

            <button type="button" name="button">
              See all features
              <i class="fas fa-angle-right"></i>
            </button>

          </div>

        </section>

        <!-- seconda sezione -->
        <section class="second-section">

          <!-- contenuto superiore -->
          <div class="top-content">

            <h2>
              One app for all divices Mobile, tablet, Desktop &#38; TV
            </h2>

            <p>
              Install and setup WPLMS version 4. Upload your App Icon and splash image <br>
              and <span>get your App in few clicks</span> from the options panel
            </p>

          </div>

          <!-- contenuot inferiore -->
          <div class="bottom-content">

            <!-- colonna -->
            <div>

              <h2>
                Mobile first design
              </h2>

              <p>
                The version 4 is built with mobile centric design <br>
                pattern and the latest Progressive web app <br>
                technology.
              </p>

              <h3>
                Course pursue screen for students
              </h3>

              <h3>
                Course creation module for Instructors
              </h3>

            </div>

            <!-- colonna -->
            <div>

              <img src="img/pursue.png" alt="">

            </div>

            <!-- colonna -->
            <div>

              <img src="img/coruse_coure.png" alt="">

            </div>

          </div>

        </section>

        <!-- terza sezione -->
        <section class="third-section">

          <!-- contenuto superiore -->
          <div class="top-content">

            <h2>
              Get <span>unlimited access</span> to our courses.
            </h2>

            <p>
              Get instant access to <span>over 2500 online courses.</span> <br>
              Join <span>560,000 Students</span> enrolled in the site.
            </p>

          </div>

          <!-- contenuto centrale -->
          <div class="central-content">

            <!-- foto -->
            <div class="photo">

              <img src="img/course4.png" alt="">

              <div class="text-area">

                <h2>
                  Software training <br>
                  reloaded
                </h2>

                <h3>
                  INFORMATION TECH / <br>
                  MACHINE LAERNING / TECHNOLOGY
                </h3>

              </div>

            </div>

            <!-- foto -->
            <div class="photo">

              <img src="img/course3.png" alt="">

              <div class="text-area">

                <h2>
                  Data mining
                </h2>

                <h3>
                  DATA
                </h3>

              </div>

            </div>

            <!-- foto -->
            <div class="photo">

              <img src="img/course2-1.png" alt="">

              <div class="text-area">

                <h2>
                  Design Dynamics
                </h2>

                <h3>
                  DESIGN / INFORMATION TECH
                </h3>

              </div>

            </div>

            <!-- foto -->
            <div class="photo">

              <img src="img/course6.png" alt="">

              <div class="text-area">

                <h2>
                  Understanding Color <br>
                  Psychology
                </h2>

                <h3>
                  DESIGN
                </h3>

              </div>

            </div>

            <!-- foto -->
            <div class="photo">

              <img src="img/course7.png" alt="">

              <div class="text-area">

                <h2>
                  Impact of a Minimalist <br>
                  Design
                </h2>

                <h3>
                  DESIGN
                </h3>

              </div>

            </div>

            <!-- foto -->
            <div class="photo">

              <img src="img/course1.png" alt="">

              <div class="text-area">

                <h2>
                  Machine Learning
                </h2>

                <h3>
                  INTELLIGENCE / TECHNOLOGY
                </h3>

              </div>

            </div>

          </div>

          <!-- contenuto inferiore -->
          <div class="bottom-content">

            <button type="button" name="button">
              See all courses
              <i class="fas fa-angle-right"></i>
            </button>

          </div>

        </section>

        <!-- quarta sezione -->
        <section class="fourth-section">

          <!-- contenuto superiore -->
          <div class="top-content">

            <h2>
              Tusted by <span>fortune 500</span> brands
            </h2>

            <p>
              From startups to fortune 500 brands. <br>
              WPLMS is number 1 choice to start an educational venture.
            </p>

          </div>

          <!-- contenuto inferiore -->
          <div class="bottom-content">

            <!-- colonna -->
            <div>

              <img src="img/logo2.png" alt="">

            </div>

            <!-- colonna -->
            <div>

              <img src="img/logo5.png" alt="">

            </div>

            <!-- colonna -->
            <div>

              <img src="img/logo4.png" alt="">

            </div>

            <!-- colonna -->
            <div>

              <img src="img/logo3.png" alt="">

            </div>

          </div>

        </section>

        <!-- quinta sezione -->
        <section class="fifth-section">

          <!-- contenuto superiore -->
          <div class="top-content">

            <h2>
              What out <span>Customers say</span> about us
            </h2>

            <p>
              Excellence speaks for itself. Coporates, Students, Instructors and Academy.
            </p>

          </div>

          <!-- contenuto inferiore -->
          <div class="bottom-content">

            <!-- colonna -->
            <div>

              <h4>
                A must for trainers
              </h4>

              <p>
                There are many variations of passages of <br>
                Lorem Ipsum available, but the majority have <br>
                suffered...<span>READ MORE</span>
              </p>

              <img src="img/instructor3.jpg" alt="">

              <h4>
                JP Mcgraw
              </h4>

              <div class="text">
                ABC Inc.
              </div>

            </div>

            <!-- colonna -->
            <div>

              <h4>
                Great platform for low cost <br>
                courses
              </h4>

              <p>
                There are many variations of passages of <br>
                Lorem Ipsum available, but the majority have <br>
                suffered...<span>READ MORE</span>
              </p>

              <img src="img/instructor1.jpg" alt="">

              <h4>
                Martha Penn
              </h4>

              <div class="text">
                ABC Inc.
              </div>

            </div>

            <!-- colonna -->
            <div>

              <h4>
                Quality hands on training tool
              </h4>

              <p>
                There are many variations of passages of <br>
                Lorem Ipsum available, but the majority have <br>
                suffered...<span>READ MORE</span>
              </p>

              <img src="img/instructor2.jpg" alt="">

              <h4>
                Mikhail
              </h4>

              <div class="text">
                CEO, FinTech
              </div>

            </div>

          </div>

        </section>

        <!-- seta sezione -->
        <section class="sixth-section">

          <!-- contenuto -->
          <div class="content">

            <h2>
              Looks <span>Interesting</span>? Get in Touch
            </h2>

            <p>
              Think you got a great idea, get in touch with us, we can't wait to have you on board.
            </p>

            <button type="button" name="button">
              CONTACT SALES / SUPPORT
            </button>

          </div>

        </section>

      </main>

      <!-- footer -->
      <footer>

        <!-- contenitore logo -->
        <div class="logo-content">

          <!-- logo -->
          <img src="img/logo.png" alt="">

          <h4>
            We make great app.
          </h4>

        </div>

        <!-- conetnitore about company -->
        <div class="company-content">

          <h3>
            About Company
          </h3>

          <!-- links -->
          <a href="#" v-for="link in linkCompanyFooter">
            {{link}}
          </a>

        </div>

        <!-- contenitore top courses -->
        <div class="courses-content">

          <h3>
            Top Courses
          </h3>

          <!-- links -->
          <a href="#" v-for="link in linkCoursesFooter">
            {{link}}
          </a>

        </div>

        <!-- contenitore populare categories -->
        <div class="popular-content">

          <h3>
            Populare Categories
          </h3>

          <!-- links -->
          <a href="#" v-for="link in linkCategoriesFooter">
            {{link}}
          </a>

        </div>

      </footer>

    </div>

    <!-- javascript -->
    <script type="text/javascript" src="js/script.js">

    </script>

  </body>
</html>
